/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* start editing from here */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*--login start here--*/
html, body{
 font-family: 'Lato', sans-serif;
   font-size: 100%;
   background:url(../images/1.png); 
}
a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}
/*--element start here--*/
.element {
    width: 53%;
    margin:3em auto 0em;
}
.element h1 {
    font-size: 2.5em;
    color: #ff9999;
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
	font-family: 'Josefin Slab', serif;
}

/*----*/
.signin {
    background: #fff;
    padding: 2em 2em;
    border: 10px double #C04270;
}
.signin{
	text-align:center;
}
.signin h3 {
    font-size: 2em;
    color: #000;
    font-weight:bold;
	font-family: 'Josefin Slab', serif;
}
.signin p {
    font-size: 0.9em;
    color: #acacac;
    margin: 1em 0 1.5em;
    line-height: 1.7em;
}
.signin-t{
	float:left;
	width:48%;
	margin-right: 3%;
}
.signin-t1{
	float:right;
	width:48%;
}


ul.with-login {
    padding: 0px;
    list-style: none;
    width: 80%;
    margin: 0 auto;
}
ul.with-login li {
/*-- w3layouts --*/
    display: inline-block;
    width: 47%;
    margin-right: 6%;
	float: left;
}
ul.with-login li:nth-child(2) {
    margin-right: 0%;
}
ul.with-login li a {
    font-size: 1em;
    color: #fff;
    padding:11px 0;
    display: block;
	background:#0172B8;
}
ul.with-login li a:hover {
    background: #024E7E;
}
ul.with-login li a.tww {
	background:#1FB2E6;
}
ul.with-login li a.tww:hover {
    background: #4FCCF9;
}
ul.with-login li a i {
    background: url(../images/fa.png)no-repeat 0px 1px ;
    width:16px;
	height:16px;
	display:inline-block;
	margin-right: 5%;
    vertical-align: text-top;
}
ul.with-login a i.tw {
    background:url(../images/tw.png)no-repeat 0px 1px;
    width:16px;
	height:16px;
	display:inline-block;
}
.signin h5 {
    font-size: 1em;
    color: #ccc;
    text-align: center;
    margin:1.5em 0;
}
.signin input[type="text"] {
    font-size: 1em;
    font-weight: 500;
    color: #ccc;
    padding:0.7em 1em;
	 /*-- agileits --*/
    width: 90%;
    outline: none;
   border: 1px solid #ccc;
    font-family: 'Roboto Condensed', sans-serif;
	    margin-bottom: 1em;
}
.signin input[type="password"] {
    font-size: 1em;
    font-weight: 500;
    color: #ccc;
    padding: 0.7em 1em ;
    width: 90%;
    outline: none;
    border: 1px solid #ccc;
    font-family: 'Roboto Condensed', sans-serif;
	    margin-bottom: 1em;
}

.signin input[type="submit"] {
        font-size: 1em;
    color: #fff;
    background:#38BB41;
    border: none;
    padding: 0.7em 0em;
    width: 70%;
    outline: none;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0em auto;
}
.signin input[type="submit"]:hover{
    background:#C14173;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.lost-top p{
	font-size: 1em;
    color: #acacac;
    margin:1em 0 0em;
	text-align:center;
}
.lost-top p a{
    color: #acacac;
	text-decoration:none;
}
.lost-top p a i{
    background: url(../images/ar.png)no-repeat 0px 3px;
	/*-- w3layouts --*/
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 1.5%;
}
.lost-top p a i.left-arrow{
    background: url(../images/ar1.png)no-repeat 0px 3px;
    margin-right: 1.5%;
	margin-left:0;
}
.sign-in{
	margin-top:2em;
}
/*---copyrights--*/
.copy-right {
    margin: 5em 0em 2em 0em;
}
.copy-right p {
    text-align: center;
    font-size:1em;
    color:#fff;
    line-height: 1.5em;

}
.copy-right p a{
  color:#fff;
}
.copy-right p a:hover{
	 color:#DF4231;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--element end here--*/
/*--media quiries start here--*/

@media(max-width:1440px){

}
@media(max-width:1366px){
	
}
@media(max-width:1280px){
	
}
@media(max-width:1024px){
 .element {
    width: 75%;
	/*-- agileits --*/
}	
}
@media(max-width:991px){
.element {
    width: 95%;
}
ul.with-login {
    width: 90%;
}
}
@media(max-width:800px){

}
@media(max-width:736px){

}
@media(max-width:667px){
.signin-t {
    width: 100%;
    margin-right: 0%;
}
.element {
    width: 65%;
}
.signin-t1 {
    width: 100%;
	margin-top: 2em;
}
.element h1 {
    font-size: 2.2em;  
}
.copy-right {
    margin: 3em 0em 2em 0em;
}
}
@media(max-width:640px){

}
@media(max-width:600px){

}
@media(max-width:568px){
.element h1 {
    font-size: 2em;
}
}
@media(max-width:480px){
.element {
    width: 90%;
}
.copy-right p {
    font-size: 0.9em;
}
.copy-right {
    margin: 2em 0em 2em 0em;
}
}
@media(max-width:414px){

}
@media(max-width:384px){
.element h1 {
    font-size: 1.8em;
}
}
@media(max-width:375px){

}
@media(max-width:320px){
.element {
    width: 98%;
}
.signin {
    padding: 1em;
}
.element h1 {
    font-size: 1.7em;
}
.signin h3 {
    font-size: 1.5em;
}
ul.with-login li a {
    padding: 8px 0;
}
.signin input[type="submit"] {
    padding: 0.5em 0em;
    width: 60%;
}
.signin input[type="password"] {
    padding: 0.5em 1em;

}
.lost-top p {
    font-size: 0.9em;
}
}